{% extends "CAFTANAdminBundle::layout.html.twig" %}
{% block section %}
    <h1>la table des images: </h1>
    <ul>
        <li class="btn btn-success"><a href="{{path('caftan_admin_create_images')}}">create</a></li>
    </ul>
    <table class="table table-bordered"> 

        <thead> 
            <tr> 
                <td>id</td>
                <td>Alt</td> 
                <td>Url</td> 
               
                

            </tr> 
        </thead> 
        <tbody> 


            {% for image in images %}
                <tr>
                    <td>{{image.id}}</td>
                    <td>{{image.alt}}</td>
                    <td>{{image.url}}</td>
                    <td class="btn btn-success"><a href="{{path('caftan_admin_delete_images', {'id': image.id})}}">delete</a></td>
                    <td class="btn btn-success"><a href="{{path('caftan_admin_update_images', {'id': image.id})}}">update</a></td>

                </tr>

            {% endfor %}

        </tbody> 
    </table>

{% endblock %}
